<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tinfoil Security - API Specification</title>

  <%= stylesheet_link_tag "swagger_engine/application" %>
  <%= stylesheet_link_tag "swagger_engine/reset", media: "print" %>
  <%= stylesheet_link_tag "swagger_engine/print", media: "print" %>
  <%= javascript_include_tag "swagger_engine/application" %>

  <script type="text/javascript">
    $(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = "<%= @swagger_json_url %>";
      }

      // Pre load translate...
      if(window.SwaggerTranslator) {
        window.SwaggerTranslator.translate();
      }
      window.swaggerUi = new SwaggerUi({
        url: url,
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        onComplete: function(swaggerApi, swaggerUi){
          if(typeof initOAuth == "function") {
            initOAuth({
              clientId: "your-client-id",
              clientSecret: "your-client-secret-if-required",
              realm: "your-realms",
              appName: "your-app-name",
              scopeSeparator: ",",
              additionalQueryStringParams: {}
            });
          }

          if(window.SwaggerTranslator) {
            window.SwaggerTranslator.translate();
          }

          addApiKeyAuthorization();
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "list",
        jsonEditor: false,
        apisSorter: "alpha",
        defaultModelRendering: 'schema',
        showRequestHeaders: false
      });

      function addApiKeyAuthorization(){
        var access_key = encodeURIComponent($('#input_access_key')[0].value);
        var secret_key = encodeURIComponent($('#input_secret_key')[0].value);
        if(access_key && access_key.trim() != "" &&
           secret_key && secret_key.trim() != "") {
          authorization_header = "Token token=" + secret_key + ", access_key=" + access_key
          window.swaggerUi.api.clientAuthorizations.add("Authorization", new SwaggerClient.ApiKeyAuthorization("Authorization", authorization_header, "header"));
          log("added key " + authorization_header);
        }
      }

      $('#input_access_key').change(addApiKeyAuthorization);
      $('#input_secret_key').change(addApiKeyAuthorization);

      // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
      /*
        var apiKey = "myApiKeyXXXX123456789";
        $('#input_apiKey').val(apiKey);
      */

      window.swaggerUi.load();

      function log() {
        if ('console' in window) {
          console.log.apply(console, arguments);
        }
      }
  });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="http://tinfoilsecurity.com">Tinfoil Security</a>
    <form id='api_selector'>
      <div class='input'><input placeholder="Access Key" id="input_access_key" name="access_key" type="text"/></div>
      <div class='input'><input placeholder="Secret Key" id="input_secret_key" name="secret_key" type="text"/></div>
      <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><a id="explore" href="#" data-sw-translate>Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
